@media (max-width: 1200px) {
  .nav-right__link {
    padding-right: 60px;
  }
  .project-footer{
    padding: 40px 0;
    position: relative;
  }
  .main-footer{
    padding: 40px 0;
  }
  .description-text {
    height: auto;
  }
  .analysis-conclusion {
    font-size: 36px;
  }
  .analysis-conclusion__block-synonyms p,
  .analysis-conclusion__block-antonyms p,
  .analysis-conclusion__block-morphemicanalysis p {
    font-size: 22px;
  }
  .analysis-conclusion__block-synonyms__example li,
  .analysis-conclusion__block-antonyms__example li,
  .analysis-conclusion__block-morphemicanalysis__example li {
    font-size: 17px;
  }
}

@media (max-width: 992px) {
  .nav-right {
    display: none;
  }
  .burger-menu {
    display: block !important;
  }
  .heading {
    font-size: 24px;
    line-height: 25px;
  }
  .description-text li {
    font-size: 17px;
    line-height: 20px;
  }
  .nav-right__search {
    margin: 24px 0 16px 0;
  }
  .nav-search__adp {
    display: block;
    text-align: center;
  }
  nav {
    height: 137px;
  }
  .analysis-conclusion__block {
    display: block;
  }
  .analysis-conclusion__block-synonyms__example li,
  .analysis-conclusion__block-antonyms__example li,
  .analysis-conclusion__block-morphemicanalysis__example li {
    list-style-type: none;
  }
  .analysis-conclusion__block__example {
    padding-left: 0;
  }
  .analysis-conclusion__block{
    overflow: scroll;
    height: 500px;
  }
  .analysis{
    min-height: calc(100vh - 30px);
  }
}

@media (max-width: 600px) {
  main {
    padding: 40px 0;
  }
  .heading {
    font-size: 20px;
    line-height: 23px;
  }
  .description-text li {
    font-size: 16px;
    line-height: 19px;
  }
  .nav-search__adp input {
    width: 300px;
  }
  .footer-nav {
    display: block;
  }
  .footer-nav__link {
    padding-top: 24px;
  }
  .analysis-conclusion {
    font-size: 24px;
  }
  .analysis-conclusion__block-synonyms p,
  .analysis-conclusion__block-antonyms p,
  .analysis-conclusion__block-morphemicanalysis p {
    font-size: 20px;
  }
  .analysis-conclusion__block-synonyms__example li,
  .analysis-conclusion__block-antonyms__example li,
  .analysis-conclusion__block-morphemicanalysis__example li {
    font-size: 16px;
  }
  .analysis{
    min-height: calc(100vh + 20px);
  }
}
