*{
    color: black;
    font-family:'Raleway', sans-serif;
}

body {
    background-color:wheat;
}

strong {
    font-weight: 700;
}

.message-box {
    padding: 20px 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 30vw;
    height: auto;
    border-radius: 15px;
}
.messages {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.message-error{
    background-color: rgb(255, 0, 0, 0.7);
}
.message-success{
    background-color: green;
}
.message-info{
    background-color: yellow;
}
.message-warning{
    background-color: yellow;
}

header {
    background-color: wheat;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1{
    margin-top: 30px;
    font-size: 60px;
}

.body_block{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.inp-search-text{
    border: none;
    background-color: inherit;
    padding: 8px 5px;
    border-bottom: 1px solid black;
}
.inp-search-text:focus{
    outline: none;
}

.form-search{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

.btn-submit-search{
    border-radius: 2px;
    border: 1px solid black;
    background-color: inherit;
    padding: 5px 10px;
    transition: all .3s ease-out;
}

.btn-submit-search:hover{
    background-color: black;
    color: white;
}

.info_text {
    margin-top: 40px;
}

.info_text_syn {
    font-size: 16px;
}