{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">
    <link rel="preconnect"  href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https: //fonts.googleapis.com/css2?family= Inter:wght@200;400 & family = Raleway:wght@500;600,700 & display=swap" rel="stylesheet">
    {% block head %}   
    
    
    {% endblock head %}
    <title>
    {% block title %}
        {{  title  }}
    {% endblock title %}
        </title>
</head
<body>
    <header>
        <h1>Sinonim.ru</h1>
    </header>
    {% if messages %}
        <div class="messages">
            {% for message in messages%}
                <div class="message-box message-{{message.tags}}" >
                    {{ message }}
                </div>
            {% endfor %}
        </div>  
    {% endif %}
    <div class="body_block">
        {% block body %}
        {% endblock body %}
    </div>
        
</body>
</html>