{% extends "slovar/base.html" %}

{% block title %}
    {{title}}
{% endblock title %}


{% block body %}
        <form action="{% url 'main_slovar' %}" method="GET" class='form-search'>
            <input type="text" name="text" class="inp-search-text" placeholder="Введите слово">
            <input type="submit" class="btn-submit-search">
        </form>

            {% if slovar.main %}
                <div class="info_text">
                    <strong>Слово:</strong> {{slovar.text}}

                    <br>
                    <br>

                    <strong>Синонимы: </strong>
                    <ul>
                        {% for el in slovar.main %}
                            <li class="info_text_syn">
                                {{ el.text }}
                            </li>
                            
                            {% for syn_el in el.syn %}
                                <li class="info_text_syn">
                                    {{ syn_el }}
                                </li>
                            {% endfor %}
                                
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

{% endblock body %}
    